//! **************************************************************************
// Written by: Map P.20131013 on Tue May 09 12:18:09 2023
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

